<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
<link rel="manifest" href="/img/favicons/site.webmanifest">
<link rel="shortcut icon" href="/img/favicons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Blog de Matthieu">
<meta name="application-name" content="Blog de Matthieu">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#303030">
