<footer>
    <hr>

    <img class="tiny-icon" alt="Logo d'une enveloppe" src="/svg/email.svg">
    <a href="mailto:{{ site.social.email }}">Courriel</a>

    |

    <img class="tiny-icon" alt="Logo de GitHub" src="/svg/github.svg">
    <a href="{{ site.social.github }}">GitHub</a>

    |

    <img class="tiny-icon" alt="Logo de Twitter" src="/svg/twitter.svg">
    <a href="{{ site.social.twitter }}">Twitter</a>

    |

    <img class="tiny-icon" alt="Logo de Mastodon" src="/svg/mastodon.svg">
    <a rel="me" href="{{ site.social.mastodon }}">Mastodon</a>

    |

    <img class="tiny-icon" alt="Logo de Keybase" src="/svg/keybase.svg">
    <a href="{{ site.social.keybase }}">Keybase</a>

    |

    <img class="tiny-icon" alt="Logo de LinkedIn" src="/svg/linkedin.svg">
    <a href="{{ site.social.linkedin }}">LinkedIn</a>
</footer>
