{{ define "main" }}

<hr>

{{ partial "header.html" }}

{{ .Content }}

<section class="projects">
{{ range .Pages }}
  <div class="project-card">
    {{ .Params.name }} {{ if .Params.repo }}/ <a href="{{ .Params.repo }}">Code source</a> {{ end }} <br>

    {{ $paramsLen := len .Params.technologies }}

    {{ if .Params.technologies }}
    <br>
    Outils:
    {{ range $idx, $val := .Params.technologies }}
        {{ if isset $val "url" }}
            <a href="{{ $val.url }}">{{ $val.name }}</a>
        {{ else }}
            {{ $val.name }}
        {{ end }}

        {{ if ne $idx (sub $paramsLen 1) }}
        <span >+</span>
        {{ end }}
      {{ end }} <br>
    {{ end }}

    <br>
    <a href="{{ .RelPermalink }}">Plus d'informations</a>
  </div>
{{ end }}
</section>
{{ end }}