<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="{{ page.description }}">

        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; font-src 'self'; img-src 'self' https://img.shields.io; object-src 'none'; script-src 'self'; style-src 'self'; manifest-src 'self'">

        <meta name="google-site-verification" content="{{ site.seo.googleVerification }}" />

        {% include favicons.html %}

        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="/assets/css/vendor.css">
        <link rel="stylesheet" href="/assets/css/fonts.css">
        <link rel="stylesheet" href="/assets/css/theme.css">
        <link rel="stylesheet" href="/assets/css/monokai.css">

        <link href="{{site.url}}/feed.atom" title="Articles du blog de Matthieu" rel="alternate" type="application/atom+xml">
    </head>

    <body>
        <section>
            {{ content }}
        </section>

        <hr>

        <footer>
            <img class="tiny-icon" alt="Logo d'une enveloppe" src="/assets/img/email.svg">
            <a href="mailto:{{ site.social.email }}">Courriel</a>

            |

            <img class="tiny-icon" alt="Logo de GitHub" src="/assets/img/github.svg">
            <a href="{{ site.social.github }}">GitHub</a>

            |

            <img class="tiny-icon" alt="Logo de Twitter" src="/assets/img/twitter.svg">
            <a href="{{ site.social.twitter }}">Twitter</a>

            |

            <img class="tiny-icon" alt="Logo de Mastodon" src="/assets/img/mastodon.svg">
            <a rel="me" href="{{ site.social.mastodon }}">Mastodon</a>

            |

            <img class="tiny-icon" alt="Logo de Keybase" src="/assets/img/keybase.svg">
            <a href="{{ site.social.keybase }}">Keybase</a>

            |

            <img class="tiny-icon" alt="Logo de LinkedIn" src="/assets/img/linkedin.svg">
            <a href="{{ site.social.linkedin }}">LinkedIn</a>
        </footer>
    </body>
</html>