<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="google-site-verification" content="{{ site.seo.googleVerification }}" />

        {% include favicons.html %}

        <title>{{ site.author }}</title>

        <link rel="stylesheet" href="/styles/index.css">
    </head>

    <body>
        <section>
            {{ content | safe }}
        </section>
    </body>
</html>
