---
layout: default
---
<a href="/">← accueil</a>


<h1>{{ page.title }}</h1>

<article>
    {{ content }}
</article>

<hr>

<section>
    <p>Continuer la lecture :</p>
    {% if page.previous.url %}
    <a class="previous-aricle" href="{{page.previous.url}}">&#8592; {{page.previous.title}}</a>
    {% endif %}

    {% if page.next.url %}
    <a class="next-article" href="{{page.next.url}}">{{page.next.title}} &#8594;</a>
    {% endif %}
</section>

<br>
<br>

<div id="commento"></div>

<script src="https://commento.mvion.fr/js/commento.js"></script>