body {
    width: 768px;
    max-width: 100%;

    margin-right: auto;
    margin-left: auto;

    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: #303030;
    background-image: url('/svg/topography.svg');

    color: white;

    font-family: monospace;
    font-size: 15px;
}

a {
    color: #03A9F4;
}

article {
    width: 80ch;

    margin-right: auto;
    margin-left: auto;

    line-height: 1.5;
}

article > p {
    margin-bottom: 10px;
}

article > p > img {
    max-width: 100%;
    width: 100%;
}

pre, :not(pre) > code{
    box-shadow:0 0 0.5em rgba(0,0,0,0.4) inset;
    border-radius: 5px;
    background:#1d2024;
    margin-top:0.5rem;
    font-size:0.8rem;
    color:#bbb;
    padding: 0.5rem;
    line-height:0.9rem;
    overflow:auto;
    white-space:pre-wrap;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

p {
    cursor: text;
    text-align: justify;
}