.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.projects > * {
    margin: auto;
    margin-top: 1rem;
}

.projects > * + * {
    margin: auto;
    margin-top: 1rem;
}

.project-card {
    width: 49%;
    padding-left: 10px;
    padding-top: 10px;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

.project-card > span {
    font-weight: 700;
}

.spoiler {
    filter: blur(5px);
    transition-property: filter;
    transition-duration: 0.4s;
}

.spoiler:hover,
.spoiler:focus {
    filter: blur(0);
}
