.commento-login-box, .commento-email {
    color: white !important;
    background-color: #303030 !important;
}

#commento-login-box-email-input, #commento-login-box-email-button, #commento-login-box-password-input, .commento-email-button {
    color: white !important;
    background-color: #303030 !important;
    border-radius: 2px !important;
    border: 1px solid #666 !important; /* 👿 */
}

.commento-root textarea {
    color: white !important;
    background-color: #303030 !important;
    border-radius: 2px !important;
    border: 1px solid #666 !important; /* 👿 */
}

.commento-root .commento-footer {
    border: none !important;
}

.commento-name {
    color: white !important;
}

.commento-root .commento-card .commento-option-collapse {
    background: white !important;
}

.commento-root .commento-card .commento-option-uncollapse {
    background: white !important;
}

.commento-body > div > * {
    color: white !important;
}

label[for=commento-anonymous-checkbox-root] {
    color: white !important;
}