body {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12pt;
    text-align: justify;
}

h1 {
    font-size: 20pt;
    border-bottom: 8px solid #383F51;
}

h2 {
    font-size: 14pt;
}

.page {
    margin: auto;
    width: 29.7cm;
    display: flex;
    flex-direction: row;
}

.portrait {
    width: 60%;
    clip-path: circle(50% at 50% 50%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.first-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4799f9;

    & h2 {
        border-bottom: 2px solid white;
    }

    & hr {
        width: 85%;
    }

    & p {
        margin-top: 0;
        margin-bottom: 0;
    }

    & ul {
        list-style-type: none;
    }

    & .role {
        font-size: 18pt;
    }

    & .social {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & a {
            color: white;
        }

        & div {
            display: flex;
            margin-top: 10px;
        }

        & p, a {
            font-size: 12pt;
            margin-top: auto;
            margin-bottom: auto;
        }

        & img {
            margin-right: 10px;
            align-items: stretch;
        }
    }

    & .values {
        display: grid;
        grid-template: 50% 50% / 50% 50%;

        & p {
            color: white;
            display: inline-block;
            border: 1px solid white;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            padding: 5px;
            border-radius: 5px;
            font-size: initial;
        }
    }

    & .hobbies {
        & p {
            font-size: initial;
        }
    }
}

.second-column {
    width: 70%;
    padding-left: 2%;

    & ul {
        padding-left: 0;
        list-style: none;
    }

    & .education {
        & h3 {
            margin-bottom: 0;
        }

        & li p {
            margin-top: 0.5em;
            margin-bottom: 0;
        }
    }
}

.skill-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;

    & div {
        justify-self: stretch;

        display: flex;
        flex-direction: row;

        margin-bottom: 15px;


        & img {
            margin-right: 10px;
        }

        & p {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

.tiny-icon {
    height: 20pt;
}

.skill-icon {
    height: 25pt;
}
