@import "sanitize.css";

body {
    font-family: "IBM Plex Sans", "Noto Color Emoji", sans-serif;
    text-align: justify;
    margin: auto;
    width: 210mm; 
    display: flex;
    align-items: stretch;
}

@media screen {
    .sheet {
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
        margin: 5mm auto;
    }
}

@media print {
    body {
        margin: 0;
        height: 297mm;
    }
}

h1 {
    font-size: 20px;
    border-bottom: 8px solid #383F51;
}

h2 {
    font-size: 18px;
    margin-block-start: 0.6em;
    margin-block-end: 0;
}

p {
    font-size: 14px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

@page {
    margin: 0;
}

.sheet {
    display: flex;
    align-items: stretch;
}

.portrait {
    width: 70%;
    clip-path: circle(50% at 50% 50%);
    margin: 5px auto;
}

.first-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #7EB9FB;

    & h2 {
        border-bottom: 2px solid white;
    }

    & hr {
        border-style: solid;
        color: white;
        width: 95%;
    }

    & p {
        margin-top: 0;
        margin-bottom: 0;
    }

    & ul {
        list-style-type: none;
    }

    & .role {
        font-size: 22px;
    }

    & .social {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & a {
            color: white;
        }

        & div {
            display: flex;
            margin-top: 10px;
        }

        & p a {
            margin-top: auto;
            margin-bottom: auto;
        }

        & img {
            margin-right: 10px;
            align-items: stretch;
        }
    }

    & .values {
        display: grid;
        grid-template: 50% 50% / 50% 50%;

        & p {
            color: white;
            display: inline-block;
            border: 1px solid white;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            padding: 5px;
            border-radius: 5px;
        }
    }

    & .hobbies {
        & p {
            font-size: initial;
        }
    }
}

.second-column {
    width: 70%;
    padding-left: 2%;

    font-size: smaller;

    & ul {
        margin-right: 1em;
        padding-left: 0;
        list-style: none;
    }

    & .education {
        & h3 {
            margin-bottom: 0;
        }
    }
}

.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 30px);
    justify-items: center;
    row-gap: 10px;

    & div {    
        justify-self: stretch;

        display: flex;
        flex-direction: row;

        & img {
            margin-right: 10px;
        }

        & p {
            align-self: center;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

.tiny-icon {
    height: 20pt;
}

.skill-icon {
    align-self: center;
    height: 25px;
}
