<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV</title>
    <link rel="stylesheet" type="text/css" href="cv.css">
    {% include "favicons.html" %}
</head>

<body>
    <section class="sheet">
        <section class="first-column">
            <img class="portrait" src="/img/cv/me.jpg">

            <hr>

            <h1>Matthieu Vion</h1>
            <p class="role">Développeur Web</p>
            <p>27550 Nassandres</p>
            <p>Permis B</p>

            <h2>Contact</h2>
            <section class="social">
                <div>
                    {% tinyIcon "ProtonMail" %}
                    <a href="mailto:{{cv.contact.email}}">{{cv.contact.email}}</a>
                </div>

                <div>
                    {% tinyIcon "GitHub" %}
                    <p>MattMattV</p>
                </div>
            </section>

            <section>
                <h2>Caractéristiques</h2>
                <div class="values">
                    {% for value in cv.values %}
                        <p>{{ value }}</p>
                    {% endfor %}
                </div>
            </section>

            <section>
                <h2>Passions</h2>
                <div class="hobbies">
                    {% for emoji, hobby in cv.hobbys %}
                        <p>{{ emoji }} {{ hobby }}</p>
                    {% endfor %}
                </div>
            </section>
        </section>

        <section class="second-column">
            <section>
                <h1>Expériences professionnelles</h1>
                <ul>
                    {% for job in cv.experiences.professional %}
                        <li>
                            <h2>{{job.title}} ({{job.start}} - {{ job.end | default("") }})</h2>
                            <p>
                                {% set br = joiner("<br>") %}
                                {% for line in job.description %}
                                    {{ br() | safe }} {{ line }}
                                {% endfor %}
                            <p>
                        </li>
                    {% endfor %}
                </ul>

                <h1>Expériences extra-professionnelles</h1>
                <ul>
                    {% for experience in cv.experiences.personal %}
                        <li>
                            <h2>{{experience.title}} ({{experience.city}}, {{experience.year}})</h2>
                            <p>
                                {% set br = joiner("<br>") %}
                                {% for line in experience.description %}
                                    {{ br() | safe }} {{ line }}
                                {% endfor %}
                            </p>
                        </li>
                    {% endfor%}
                </ul>
            </section>

            <section class="education">
                <h1>Cursus</h1>
                <ul>
                    {% for diploma in cv.education %}
                        <li>
                            <h2>{{diploma.name}} ({{diploma.year}})</h2>
                            <p>
                                {% if diploma.option %}
                                    {{diploma.option}}
                                    <br>
                                {% endif %}
                                {{diploma.address}}
                            <p>
                        </li>
                    {% endfor %}
                    </li>
                </ul>
            </section>

            <section>
                <h1>Compétences</h1>
                <div class="skill-list">
                    <div>
                        <img class="skill-icon" src="/svg/super-tiny-icons/rss.svg">
                        <p>Veille technologique</p>
                    </div>

                    <div>
                        <img class="skill-icon" src="/svg/super-tiny-icons/linux.svg">
                        <p>Linux</p>
                    </div>
                    
                    <div>
                        <img class="skill-icon" src="/svg/super-tiny-icons/javascript.svg">
                        <p>JavaScript</p>
                    </div>

                    <div>
                        <img class="skill-icon" src="/svg/super-tiny-icons/php.svg">
                        <p>PHP 7</p>
                    </div>

                    <div>
                        <img class="skill-icon" src="/svg/super-tiny-icons/sass.svg">
                        <p>SASS</p>
                    </div>

                    <div>
                        <img class="skill-icon" src="/svg/super-tiny-icons/angular.svg">
                        <p>Angular</p>
                    </div>

                    <div>
                        <img class="skill-icon" src="/svg/super-tiny-icons/docker.svg">
                        <p>Docker</p>
                    </div>

                    <div>
                        <img class="skill-icon" src="/svg/super-tiny-icons/git.svg">
                        <p>Git</p>
                    </div>

                    <div>
                        <!-- <img class="skill-icon" src="/svg/super-tiny-icons/github.svg"> -->
                        <img class="skill-icon" src="/svg/super-tiny-icons/gitlab.svg">
                        <p>GitHub/GitLab</p>
                    </div>

                    <div>
                        <img class="skill-icon" src="/svg/super-tiny-icons/python.svg">
                        <p>Python</p>
                    </div>
                </div>
            </section>
        </section>
    </section>
</body>

</html>
