<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV</title>
    <link rel="stylesheet" type="text/css" href="/cv.css">
    {% include "favicons.html" %}
</head>
<body>
    <section class="page">
        <section class="first-column">
            <img class="portrait" src="/img/cv/me.jpg">

            <hr>

            <h1>Matthieu Vion</h1>
            <p class="role">Développeur</p>
            <p>Permis B</p>

            <h2>Contact</h2>
            <section class="social">
                <div>
                    <img class="tiny-icon" src="/svg/protonmail.svg">
                    <a href="mailto:contact@mvion.fr">contact@mvion.fr</a>
                </div>

                <div>
                    <img class="tiny-icon" src="/svg/github.svg">
                    <p>MattMattV</p>
                </div>
            </section>

            <section>
                <h2>Caractéristiques</h2>
                <div class="values">
                    <p>Déterminé</p>
                    <p>Dynamique</p>
                    <p>Impliqué</p>
                    <p>Fiable</p>
                </div>
            </section>

            <section>
                    <h2>Passions</h2>
                    <div class="hobbies">
                        <p>Informatique</p>
                        <p>Sciences</p>
                        <p>Jeux Vidéos</p>
                        <p>Claviers mécaniques</p>
                    </div>
                </section>
        </section>

        <section class="second-column">
            <section>
                <h1>Expériences professionnelles</h1>
                <ul>
                    <li>
                        <h2>Green Systèmes (01/2020 -  )</h2>
                        <p>
                            Intégration et amélioration sur le site vitrine.
                            <br>
                            Amélioration des APIs existantes.
                        </p>
                    </li>

                    <li>
                        <h2>Trace Software (02/2016 - 01/2020)</h2>
                        <p>
                            Développment front end et back end
                            <br>
                            Architectures micro-services containerisée avec Docker.
                            <br>
                            Mise en place de tests d'intégration et unitaires.
                            <br>
                            Intégration d'un nouveau design pour le site du support.
                        </p>
                    </li>
                </ul>
                <h1>Expériences extra-professionnelles</h1>
                <ul>
                    <li>
                        <h2>Hackathon Tourisme à Deauville (2019)</h2>
                        <p>
                            Prototypage d'une application mobile pour aider les touristes à signaler les éventuels problèmes qu'ils pourraient rencontrer lors de leur séjour.
                        </p>
                    </li>

                    <li>
                        <h2>Hackathon Smart Port Vallée de la Seine (2016)</h2>
                        <p>
                            Prototypage d'une application mobile utilisant la réalité augmentée pour visualiser les données des bateaux autour de l'utilisateur.
                            <br>
                            Notre équipe remporte le prix AIVP.
                        </p>
                    </li>
                </ul>
            </section>

            <section class="education">
                <h1>Cursus</h1>
                <ul>
                    <li>
                        <h2>DUT Informatique (2016)</h2>
                        <p>IUT de Caucriauville 76600 Le Havre</p>
                    </li>
                    <li>
                        <h2>Baccalauréat STI2D (2013)</h2>
                        <p>
                            Option SIN
                            <br>
                            LGT Modeste Leroy 27000 Evreux
                        </p>
                    </li>
                </ul>
            </section>

            <section>
                    <h1>Compétences</h1>
                    <div class="skill-list">
                        <div>
                            <img class="skill-icon" src="/svg/javascript.svg">
                            <p>JavaScript</p>
                        </div>

                        <div>
                            <img class="skill-icon" src="/svg/php.svg">
                            <p>PHP 7</p>
                        </div>

                        <div>
                            <img class="skill-icon" src="/svg/sass.svg">
                            <p>SASS</p>
                        </div>

                        <div>
                            <img class="skill-icon" src="/svg/angular.svg">
                            <p>Angular</p>
                        </div>

                        <div>
                            <img class="skill-icon" src="/svg/docker.svg">
                            <p>Docker</p>
                        </div>

                        <div>
                            <img class="skill-icon" src="/svg/linux.svg">
                            <p>Linux</p>
                        </div>

                        <div>
                            <img class="skill-icon" src="/svg/git.svg">
                            <p>Git</p>
                        </div>

                        <div>
                            <img class="skill-icon" src="/svg/rss.svg">
                            <p>Veille technologique</p>
                        </div>
                    </div>
                </section>
        </section>
    </section>
</body>
</html>
