---
layout: home
---
<h1>{{ site.author }}</h1>

<p>Notes d'un développeur ébahi.</p>

{% include header.html %}

<h1>Bienvenue, visiteur !</h1>

<p>Bonjour et bienvenue sur mon site Web personnel !</p>
